.custom_form {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.error_msg {
    color: red;
}

.emailbox {
    border: 1px solid black
}